.product-assessment {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
}

.product-ratings {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  overflow: hidden;
  background: #fff;
  margin-top: 0.9375rem;
  padding: 1.5625rem;
  overflow: visible;
  &__header {
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 1em;
    text-transform: capitalize;
  }
}
