.main {
  background-color: rgb(238, 77, 45);
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &__size {
    height: 37.5rem;
    width: 65rem;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

.wrapper {
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  border-radius: 0.25rem;
  overflow: hidden;
  width: 24.8125rem;
  min-height: 26.6875rem;
}

.form-login {
  &__title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 5rem;
    &--wrapper {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      padding: 1.375rem 1.875rem;
    }
    &--text {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      max-width: 8.5rem;
      font-size: 1.25rem;
      color: #222;
      text-transform: capitalize;
    }
  }
  &__main {
    padding: 0 1.875rem 1.875rem;
    overflow: hidden;
    &--wrapper {
      margin-bottom: 0.625rem;
    }
    &--input {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 2.5rem;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.14);
      border-radius: 2px;
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
      .checked {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        background: rgb(232, 240, 254);
        border: none;
        outline: none;
        padding: 0 0.9375rem 0 0.75rem;
        i.fa-check-circle-o {
          stroke: currentColor;
          fill: currentColor;
          width: 1.25rem;
          height: 1.25rem;
          font-size: 1.25rem;
          color: rgb(102, 204, 0);
        }
      }
    }
  }
  &__login-social-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0.875rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .line {
      height: 1px;
      width: 100%;
      background-color: #dbdbdb;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    .text {
      color: #ccc;
      padding: 0 1rem;
      text-transform: uppercase;
      font-size: 0.75rem;
    }
  }
  &__login-social-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -0.3125rem;
    &--wrapper {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 1px;
    }
    &--background-google {
      background-color: #fff;
    }
  }
  &__note {
    margin-top: 1.5625rem;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    &--top {
      margin-right: 0.3125rem;
    }
    &--special-symbols {
      margin: 0 0.25rem;
    }
    &--link {
      color: #ee4d2d;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-decoration: none;
    }
  }
  &__bottom {
    margin-bottom: 1.875rem;
    &--wrapper {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
    }
    &--title {
      padding-right: 0.25rem;
      font-size: 0.875rem;
      color: rgba(0, 0, 0, 0.26);
    }
    &--link-login {
      font-size: 0.875rem;
      font-weight: 500;
      color: #ee4d2d;
    }
  }
  &__options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0.625rem 0;
  }
  &__option {
    color: #05a;
    font-size: 0.75rem;
  }
}

.icon {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.375rem;
  height: 1.375rem;
}

.social-white-fb-png {
  background-size: 372% 232%;
  background-position: 76.47058823529412% 15.151515151515152%;
}

.social-white-google-png {
  background-size: 516.6666666666666% 322.22222222222223%;
  background-position: 100% 100%;
}
.social-white-apple-png {
  background-size: 290.625% 181.25%;
  background-position: 8.19672131147541% 19.23076923076923%;
}

.social {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0.625rem;
}

.button-icon {
  overflow: visible;
  text-transform: none;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  border: 0;
  background: none;
  &:hover {
    opacity: 0.91;
  }
  &__size {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    height: 2.5rem;
    border-radius: 2px;
    padding: 0 0.125rem;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0.3125rem;
  }
  &__color-facebook {
    background-color: #1877f2;
    color: #fff;
    font-size: 0.875rem;
  }
  &__color-google {
    background-color: #4285f4;
    color: #fff;
    font-size: 0.875rem;
  }
  &__color-apple {
    background-color: #000;
    color: #fff;
    font-size: 0.875rem;
  }
}

.invalid-feedback {
  margin: 0;
  padding: 0.25rem 0 0;
  font-size: 0.75rem;
  color: #ff424f;
  min-height: 1rem;
}

.form-control {
  border-radius: 2px;
  font-size: 0.875rem;
  height: 2.5rem;
  color: rgba(196, 196, 196, 0.8);
  border: none;
}

.form-control:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
  border-color: rgba(0, 0, 0, 0.54);
}

.button {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  &__size {
    outline: none;
    padding: 0 0.625rem;
    border: 0;
    background: none;
    border-radius: 0.125rem;
    height: 2.5rem;
    min-width: 8.75rem;
    text-transform: uppercase;
    width: 100%;
  }
  &__color {
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
  }
}

.un-active {
  opacity: 0;
}

.disable {
  cursor: not-allowed !important;
  opacity: 0.7;
}

.enable {
  cursor: pointer !important;
  opacity: 1;
}
