.image-carousel {
  &__item {
    height: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    overflow-x: hidden;
    list-style: none;
    float: left;
  }
  &__item > div {
    height: 100%;
    width: 200px;
  }
  &__item a,
  &__item img {
    -webkit-user-drag: none;
  }
  &__item-wrapper {
    padding-bottom: 0;
  }
  &__item-card {
    margin-bottom: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.125rem;
    overflow: hidden;
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  &__item-card-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .flash-sale-item-card__image {
      margin: 5px auto;
      position: relative;
      &--home-page {
        width: 173px;
        height: 173px;
      }
      .wrap-position-overlay {
        position: relative;
        .image-overlay {
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          z-index: 2;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          opacity: 1;
          -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
          &--home-page {
            width: 173px;
            height: 173px;
          }
        }
      }
      .wrap-position {
        position: relative;
        .image-product {
          background-size: contain;
          background-repeat: no-repeat;
          width: 100%;
          background-position: 50%;
        }
      }
    }
  }
}

.flash-sale-item-card {
  &__lower-wrapper {
    padding: 0 15px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  &__lower-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__current-price {
    color: #ee4d2d;
    font-weight: 400;
    &--home-page {
      font-size: 14px;
      text-align: center;
    }
    .item-price-number {
      font-size: 155%;
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__current-price > .currency-unit {
    font-size: 100%;
  }
}

.flash-sale-progress-bar {
  height: 16px;
  background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/934cc0df9edb42d22c38044417c8a94a.png")
    0 100% no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  &__wrapper {
    &--home-page {
      padding: 0 7px;
    }
  }
  &__text {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  &__complement-wrapper {
    width: 100%;
    background: transparent;
    overflow: hidden;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    height: 16px;
    border-radius: 8px;
  }
  &__complement-sizer {
    background: #fff;
    float: right;
    position: relative;
    height: 18px;
  }
  &__complement-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffbda6;
  }
}

.card-discount {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 4px 2px 3px;
  font-weight: 700;
  float: right;
  margin-left: 0.3125rem;
  &__wrapper {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    padding: 7px 8px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  &__fix-width {
    width: 38px;
    height: 35px;
  }
  &__promotion {
    background-color: rgba(255, 212, 36, 0.9);
    &--label-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      position: relative;
      font-weight: 700;
      line-height: 0.8125rem;
      color: #ee4d2d;
      text-transform: uppercase;
      font-size: 0.75rem;
    }
    &--label-text {
      color: #fff;
      margin: 2px 0;
    }
  }
  &__promotion::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255, 212, 36, 0.9);
    border-style: solid;
    border-width: 0 19px 4px;
  }
}
