.wrapper_container {
    margin-top: 1rem;
    .mycontainer {
        display: block;
        width: 1200px;
        margin: auto;
        margin-top: 130px;
    }
    display: flex;
    flex-direction: column;
    .singleProduct {
        width: 14.28571%;
        height: 12.5rem;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        text-align: center;
        background-color: #fdfdfd;
        float: left;
        color: black;
        &:hover {
            background-color: #fff;
            z-index: 1;
            border-color: rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
        }
        .imageSingleProduct {
            width: 100%;
            height: 150px;
            ul {
                padding-left: 0px;
                li {
                    list-style: none;
                    a {
                        color: black;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}