.contain-product-right {
  width: 100%;
  height: auto;
  .filter-sort {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    font-weight: 400;
    display: flex;
    font-size: 0.875rem;
    padding: 0.8125rem 1.25rem;
    align-items: center;
    .filter-sort-options {
      display: flex;
      flex-direction: row;
      &__option {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
        height: 2.125rem;
        line-height: 2.125rem;
        border-radius: 2px;
        cursor: pointer;
        padding: 0 0.9375rem;
        white-space: nowrap;
        margin-left: 0.625rem;
        box-sizing: border-box;
        background: #fff;
        z-index: 2;
        &:hover .select-with-price__wrap--dropdown {
          display: block;
        }
        .select-with-price {
          width: 12.5rem;
          span i {
            margin-left: 9.5rem;
          }
        }
        .select-with-price__wrap {
          &--dropdown {
            position: absolute;
            width: 14.4rem;
            height: 5rem;
            background: #fff;
            margin-left: -15px;
            margin-top: 1px;
            display: none;
            span {
              &:hover {
                color: red;
                opacity: 0.8;
              }
            }
          }
        }
        &--selected {
          color: #fff !important;
          background: #ee4d2d !important;
        }
      }
    }
  }
  .filter-sort-page-controller {
    margin-left: 200px;
    &__current {
      color: #ee4d2d;
    }
    .filter-button-outline {
      width: 2.25rem;
      height: 2.25rem;
      background: #fff;
      border-color: rgba(0, 0, 0, 0.09);
      &:focus {
        border: none;
      }
    }
  }
}
